@model Cinema_Management_System.DTOs.Auth.LoginDTO

@{
    ViewData["Title"] = "Logowanie";
}

<h2>Logowanie</h2>
<form asp-controller="Auth" asp-action="Login" method="post">
    <div class="mb-2">
        <label for="UserName">Nazwa użytkownika:</label>
        <input type="text" name="UserName" class="form-control" required />
    </div>
    <div class="mb-1">
        <label for="Password">Hasło:</label>
        <input type="password" name="Password" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Zaloguj</button>
</form>