@model Cinema_Management_System.DTOs.RegisterDTO
@{
    ViewData["Title"] = "Rejestracja";
}

<h2>Rejestracja</h2>

<form asp-action="Register" method="post">
    <div>
        <label asp-for="Nick"></label>
        <input asp-for="Nick" />
        <span asp-validation-for="Nick" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit">Zarejestruj</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
