<div class="mt-5">
    <div class="container">
        <h2 class="text-center mb-4">Panel pracownika kina</h2>

        <div class="row g-4">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header bg-primary text-white">
                        <h5 class="card-title mb-0 text-center fs-4">Film</h5>
                    </div>
                    <div class="card-body">
                        <div class="d-grid gap-3">
                            <a class="btn btn-success">
                                Dodaj nowy film
                            </a>
                            <a class="btn btn-warning">
                                Edytuj istniejące filmyy
                            </a>
                            <a class="btn btn-warning">
                                Skasuj film
                            </a>
                            <a class="btn btn-outline-primary">
                                Przeglądaj wszystkie filmy
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header bg-primary text-white">
                        <h5 class="card-title mb-0 text-center fs-4">Sala</h5>
                    </div>
                    <div class="card-body">
                        <div class="d-grid gap-3">
                            <a class="btn btn-success">
                                Dodaj nową sale
                            </a>
                            <a class="btn btn-warning">
                                Edytuj istniejące sale
                            </a>
                            <a class="btn btn-warning">
                                Skasuj sale
                            </a>
                            <a class="btn btn-outline-primary">
                                Przeglądaj wszystkie sale
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header bg-primary text-white">
                        <h5 class="card-title mb-0 text-center fs-4">Seans</h5>
                    </div>
                    <div class="card-body">
                        <div class="d-grid gap-3">
                            <a class="btn btn-success">
                                Dodaj nowy seans
                            </a>
                            <a class="btn btn-warning">
                                Edytuj istniejące seanse
                            </a>
                            <a class="btn btn-warning">
                                Skasuj seans
                            </a>
                            <a class="btn btn-outline-primary">
                                Przeglądaj wszystkie seanse
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header bg-dark text-white">
                        <h5 class="card-title mb-0 text-center fs-4">Raporty i statystyki</h5>
                    </div>
                    <div class="card-body">
                        <div class="d-grid gap-3">
                            <a class="btn btn-outline-dark">
                                Sprzedaż biletów
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>