@model List<Cinema_Management_System.DTOs.Employee.DeleteScreeningRoomDTO>

<h2>Usuñ Sale</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<form asp-action="DeleteScreeningRoom" asp-controller="DeleteScreeningRoom" method="post">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Wybierz</th>
                <th>Nazwa sali</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="selectedRoomIds" value="@movie.Id" />
                    </td>
                    <td>@movie.Name</td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-danger">Usuñ wybrane</button>
</form>